/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

/* Grandezza di tutte le immagini massimo quanto il loro rispettivo contenitore */
img {
    height: 100%;
}

/* UTILITIES */

/* Flexbox */
.flex {
    display: flex;
}

/* Flex Column */
.column {
    flex-direction: column;
}

/* Flex Row */
.row {
    flex-direction: row;
}

.column-reverse {
    flex-direction: column-reverse;
}

.row-reverse {
    flex-direction: row-reverse;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.space-evenly {
    justify-content: space-evenly;
}

.grow {
    flex-grow: 1;
}

.shrink {
    flex-shrink: 1;
}

.wrap {
    flex-wrap: wrap;
}

/* Clearfix per uso del float, da applicare al container */
.clearfix::after {
    clear: both;
    content: "";
    display: table;
}

/* Float left */
.float-left {
    float: left;
}

/* Float right */
.float-right {
    float: right;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    background-color: blue;

    height: 50px;
}

/* CONTENT */

header {
    background-color: #ff6900;
    height: 50px;
    width: 100%;
    position: fixed;
}

.category-selection {
    background-color: aqua;
}

#logo {
    background-color: blueviolet;
}

.nav-icons {
    background-color: brown;
}

.shop-item {
    background-color: crimson;
    height: 600px;
    width: calc(100% / 3 - 10px);

    margin-top: 30px;
}