/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

/* Grandezza di tutte le immagini massimo quanto il loro rispettivo contenitore */
img {
    height: 100%;
}

/* UTILITIES */

/* Flexbox */
.flex {
    display: flex;
}

/* Flex Column */
.column {
    flex-direction: column;
}

/* Flex Row */
.row {
    flex-direction: row;
}

.column-reverse {
    flex-direction: column-reverse;
}

.row-reverse {
    flex-direction: row-reverse;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.space-evenly {
    justify-content: space-evenly;
}

.grow {
    flex-grow: 1;
}

.shrink {
    flex-shrink: 1;
}

.wrap {
    flex-wrap: wrap;
}

/* Position tags */
.absolute {
    position: absolute;
}

/* Clearfix per uso del float, da applicare al container */
.clearfix::after {
    clear: both;
    content: "";
    display: table;
}

/* Float left */
.float-left {
    float: left;
}

/* Float right */
.float-right {
    float: right;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    background-color: blue;
}

/* CONTENT */

/* Header */

header {
    background-color: #ff6900;
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.category-selection {
    background-color: aqua;
}

#logo {
    background-color: blueviolet;
    flex-basis: 50%;

    padding: 10px;

    height: 50px;

    text-align: center;
}

.nav-icons {
    background-color: brown;
}

/* Main */

main {
    padding-top: 50px;
    background-color: yellow;
}

.items-container {
    background-color: cornflowerblue;
    padding: 70px 0;
}

.shop-item {
    background-color: crimson;
    height: 800px;
    width: calc(100% / 3 - 10px);
    position: relative;

    margin-top: 30px;
}

.fake-img {
    width: 100%;
    height: 80%;
    background-color: chartreuse;
}

.caption {
    width: 100%;
    height: 20%;
    background-color: darkslateblue;
}

.heart {
    top: 10px;
    right: 0;

    font-size: xx-large;
    padding: 5px 15px;
    background-color: white;
}

.labels {
    bottom: 25%;
}

.labels>* {
    margin-right: 5px;
    color: white;

    padding: 5px;
}

.discount {
    background-color: #ff0000;
}

.eco {
    background-color: #008000;
    font-weight: bold;
}

/* Footer */

footer {
    background-color: #1a1a1a;
    height: 100px;
}

footer * {
    height: 100px;
}

footer>.container>* {
    flex-basis: 50%;
}

.legal-info {
    background-color: pink;
}

.social-area {
    background-color: darkgoldenrod;
}